*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 600px;
    background-color: rgb(39, 38, 38);
}
.flex{
    display: flex;
}
.container{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
header{
    background-color: rgb(0, 0, 0,0.8);
    position: fixed;
    width: 100%;
    z-index: 100000;
    box-shadow: 0 0 30px black;
}
.mobile-header{
    display: none;
    justify-content: space-between;
}
.mobile-header p{
    color: #fff;
    vertical-align: middle;
    padding-top: 15px;
    padding-right: 40px;
    font-size: 18px;
    letter-spacing: 2px;
}
.top-header{
    justify-content: space-between;
}
header .logo{
    margin-left: 50px;
    letter-spacing: 2px;
    font-size: 18px;
    padding: 15px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
}
.login{
    letter-spacing: 2px;
    margin-right: 100px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(149, 148, 148);
    transition: .8s;
}
.login:hover{
    color:white;
}
nav{
    justify-content: center;
}
nav ul{
    position: relative;
    justify-content: center;
    align-items: center;
}
nav ul li{
    letter-spacing: 2px;
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 15px;
}
nav ul li a:hover{
    color:white;
    transition: 0.8s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(149, 148, 148);
    transition: 0.8s;
}
.first-section{
    background-image: url(images/background-battle.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 800px;
    position: relative;
    box-shadow: 0 0 50px black;
}
.first-section .title h3{
    font-size: 40px;
}
.first-section .title{
    border: solid 1px;
    position: absolute;
    left: 50px;
    top: 120px;
    text-align: center;
    font-size: 15px;
    font-family: papyrus;
    flex-direction: column;
    width: 400px;
    background-color: rgb(28, 27, 27, 0.368);
    color: rgb(163, 163, 163);
    transition: 0.6s;
}
.titleimg{
    justify-content: center;
    width: 100%;
}
.titleimg img{
    width: 100%;
    height: 100%;
}
.first-section .title:hover{
    background-color: rgba(28, 27, 27, 0.368);
    color: white;
    box-shadow: 0 0 15px black;
}
.title{
    box-shadow: 0 0 30px black;
}
.first-section a{
    text-decoration: none;
    color: black;
}
.mainbox{
    margin-top: 30px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.itembox{
    flex-direction: column;
    color: white;
    width: 300px;
    margin: 20px;
    box-shadow: 0 0 15px black;
    transition: 1s;
}
.itembox h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.itembox h5{
    font-size: 15px;
}
.scenarioimg{
    width: 100%;
    height: 200px;
}
.scenarioimg img{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.itembox:hover{

    transform: scale(1.2);
    box-shadow: 0 0 15px black;
}
footer{
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    color: white;
    width: 100%;
    padding: 20px 20px;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 30px black;
}
footer h4{
    font-size: 20px;
}
.socimgs{
    justify-content: center;
}
.soclogo{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}
.soclogo img{
    width: 100%;
    height: 100%;
}
.scetextbox{
    margin-top: 5px;
    margin-left: 5px;
}
span{
    color: red;
    font-weight: bold;
}
.poweredby{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}
.loginbody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;    
}
.loginsection{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
.loginsection::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(39, 38, 38),red, rgb(39, 38, 38));
    animation: animate 4s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.loginsection span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1s;
}
.loginsection span:hover{
    background: red;
    transition: 0;
}
.loginsection .signin{
    position: absolute;
    width: 400px;
    background: rgb(33, 33, 33,0.7);
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.loginsection .signin .content{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.loginsection .signin .content h2{
    font-size: 2em;
    color: rgb(149, 148, 148);
    text-transform: uppercase;
}
.loginsection .signin .content .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.loginsection .signin .content .form .inputbx{
    position: relative;
    width: 100%;
}
.loginsection .signin .content .form .inputbx input{
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: rgb(149, 148, 148);
    font-weight: 500;
    font-size: 1em;
}
.loginsection .signin .content .form .inputbx i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}
.signin .content .form .inputbx input:focus ~ i,
.signin .content .form .inputbx input:valid ~ i{
    transform: translateY(-10px);
    font-size: 1em;
    color: red;
    font-weight: 500;
}
.signin .content .form .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signin .content .form .links a{
    color: rgb(149, 148, 148);
    font-weight: 600;
    text-decoration: none;
    transition: 1s;
}
.signin .content .form .links a:hover{
    color: red;
    font-weight: 600;
}
.signin .content .form .links a:nth-child(2){
    color: rgb(149, 148, 148);
    font-weight: 600;
    transition: 1s;
}
.signin .content .form .links a:nth-child(2):hover{
    color: red;
    font-weight: 600;
}
.signin .content .form .inputbx input[type="submit"]{
    padding: 10px;
    background: rgb(149, 148, 148);
    color: #111;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    cursor: pointer;
    transition: 1s;
}
.signin .content .form .inputbx input[type="submit"]:hover{
    background: red;
}
@media (max-width: 1024px){
    .loginsection span{
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
    .desktop-header{
    display: none;
    }
    .mobile-header{
        display: flex;
    }
    .first-section{
        padding-top: 80px;
        padding-bottom: 20px;
        height: unset;
    }
    .first-section .title{
        display: block;
        width: 90%;
        margin: 0 auto;
        position: unset;
    }
    .mainbox{
        flex-direction: column;
    }
    .itembox{
        flex-direction: row;
        width: 90%;
        margin: 20px auto;
    }
    .itembox:hover{
        transform: scale(1.05);
    }
    .itembox h4{
        text-align: start;
    }
    header .logo{
        margin-left: unset;
    }
}
@media (max-width: 467px){
    .loginsection span{
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
    .desktop-header{
        display: none;
    }
    .mobile-header{
        display: flex;
    }
    .itembox{
        flex-direction: column;
        width: 90%;
        margin: 20px auto;
        padding-bottom: 20px;
    }
    .scenarioimg{
        height: unset;
    }
    .scenario-brief-summary{
        display: none;
    }
}