*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: rgb(39, 38, 38);
}
header{
    background-color: rgb(0, 0, 0,0.8);
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100000;
    box-shadow: 0 0 30px black;
}
header .logo{
    margin-left: 50px;
    letter-spacing: 2px;
    font-size: 15px;
    padding: 20px;
    color: #fff;
    text-decoration: none;
    text-align: left;
}
.login{
    letter-spacing: 2px;
    margin-right: 35px;
    font-size: 15px;
    font-weight: 700;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: rgb(149, 148, 148);
}
.login:hover{
    color:white;
    transition: .8s;
}
nav{
    display: flex;
    justify-content: center;
}
nav ul{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}
nav ul li{
    display: flex;
    justify-content: center;
    letter-spacing: 2px;
    margin-left: 30px;
    text-decoration: none;
    list-style: none;
    font-weight: 700;
    font-size: 12px;
}
nav ul li a:hover{
    color:white;
    transition: .8s;
}
nav ul li a{
    text-decoration: none;
    color: rgb(149, 148, 148);
}
.first-section{
    background-image: url(images/background-battle.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    position: relative;
    box-shadow: 0 0 50px black;
}
.first-section .title h3{
    font-size: 40px;
}
.first-section .title{
    border: solid 1px;
    position: absolute;
    left: 50px;
    top: 80px;
    text-align: center;
    font-size: 15px;
    font-family: papyrus;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 400px;
    background-color: rgb(28, 27, 27, 0.368);
    color: rgb(163, 163, 163);

}
.titleimg{
    display: flex;
    justify-content: center;
    width: 100%;
}
.titleimg img{
    width: 100%;
    height: 100%;
}
.first-section .title:hover{
    background-color: rgba(28, 27, 27, 0.368);
    transition: 0.6s;
    color: white;
    box-shadow: 0 0 15px black;
}
.title{
    box-shadow: 0 0 30px black;
}
.first-section a{
    text-decoration: none;
    color: black;
}
.mainbox{
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
.itembox{
    display: flex;
    flex-direction: column;
    color: white;
    width: 15%;
    margin: 20px;
    box-shadow: 0 0 15px black;
}
.itembox h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}
.itembox h5{
    font-size: 15px;
}
.scenarioimg{
    width: 100%;
    height: 200px;
}
.scenarioimg img{
    width:100%;
    height: 100%;
}
.itembox:hover{
    transition: 1s;
    transform: scale(1.2);
    box-shadow: 0 0 15px black;
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    color: white;
    width: 100%;
    height: 20vh;
    background-color: rgb(31, 29, 29);
    box-shadow: 0 0 30px black;
}
footer h4{
    font-size: 20px;
}
.socimgs{
    display: flex;
    justify-content: center;
}
.soclogo{
    width: 30px;
    height: 30px;
    margin-top: 15px;
    margin-left: 15px;
}
.soclogo img{
    width: 100%;
    height: 100%;
}
.scetextbox{
    margin-top: 5px;
    margin-left: 5px;
}
span{
    color: red;
    font-weight: bold;
}
.poweredby{
    text-align: center;
    margin-top: 10px;
    font-size: 10px;
}
.loginbody{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #000;    
}
.loginsection{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
}
.loginsection::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(39, 38, 38),red, rgb(39, 38, 38)  );
    animation: animate 5s linear infinite;
}
@keyframes animate{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}
.loginsection span{
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background: #181818;
    z-index: 2;
    transition: 1s;
}
.loginsection span:hover{
    background: red;
    transition: 0;
}
.loginsection .signin{
    position: absolute;
    width: 400px;
    background: rgb(33, 33, 33,0.7);
    z-index: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
}
.loginsection .signin .content{
    position:relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}
.loginsection .signin .content h2{
    font-size: 2em;
    color: rgb(149, 148, 148);
    text-transform: uppercase;
}
.loginsection .signin .content .form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.loginsection .signin .content .form .inputbx{
    position: relative;
    width: 100%;
}
.loginsection .signin .content .form .inputbx input{
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 25px 10px 7.5px;
    border-radius: 4px;
    color: rgb(149, 148, 148);
    font-weight: 500;
    font-size: 1em;
}
.loginsection .signin .content .form .inputbx i{
    position: absolute;
    left: 0;
    padding: 15px 10px;
    font-style: normal;
    color: #aaa;
    transition: 0.5s;
    pointer-events: none;
}
.signin .content .form .inputbx input:focus ~ i,
.signin .content .form .inputbx input:valid ~ i{
    transform: translateY(-10px);
    font-size: 1em;
    color: red;
    font-weight: 500;
}
.signin .content .form .links{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.signin .content .form .links a{
    color: rgb(149, 148, 148);
    font-weight: 600;
    text-decoration: none;
}
.signin .content .form .links a:hover{
    color: red;
    transition: 1s;
    font-weight: 600;
}
.signin .content .form .links a:nth-child(2){
    color: rgb(149, 148, 148);
    font-weight: 600;
}
.signin .content .form .links a:nth-child(2):hover{
    color: red;
    transition: 1s;
    font-weight: 600;
}
.signin .content .form .inputbx input[type="submit"]{
    padding: 10px;
    background: rgb(149, 148, 148);
    color: #111;
    font-weight: 600;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    cursor: pointer;
}
.signin .content .form .inputbx input[type="submit"]:hover{
    background: red;
}
@media (max-width: 900px){
    .loginsection span{
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}
@media (max-width: 600px){
    .loginsection span{
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}